  <header>
      hbs
        <nav class="nav">
            <ul>
                <li><a href="http://localhost:8080/">Agregar Productos</a> </li>
                <li><a href="http://localhost:8080/api/productos">Todos los productos</a> </li>
            </ul>
        </nav>
    </header>
