header
    p pug
    nav(class="nav")
        ul
            li
                a(href="http://localhost:8080/") Agregar Productos
            li
                a(href="http://localhost:8080/api/productos") Todos los productos</a>